
    <div class="row">
      <div class="col col-xl-1 me-2">
        <img src="../../assets/img/kirby.jpeg"
        class="img-thumbnail" alt="...">
      </div>
      <div class="col-8">
            <button type="button" class="btn btn-secondary btn-sm me-2">Mudar Foto</button>
            <button type="button" class="btn btn-outline-danger btn-sm ">Remover Foto</button>
        <div class="row align-items-end mt-3">
        <div class="col">
          <p>Escolha uma foto de até 4 mb, sua foto de avatar será publica.</p>
        </div>
        </div>
      </div>
    </div>




